/* ================================== CSS SAM =================================== */

/* ========================= CSS GÉNÉRAL ========================= */


/* ======================== FIN CSS GÉNÉRAL ====================== */

/* =========================== HERO ============================== */

/* Background image */
.hero {
    background-image: linear-gradient(rgba(15, 23, 42, 0.8), rgba(15, 23, 42, 0.9)), url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}



/* ========================= FIN HERO ============================ */